@using PeopleAdder.Data
@model List<Person>

<a href="/Home/AddPeopleForm" class="btn btn-block btn-primary">Add People</a>
<br/>
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
    </tr>
    @foreach (Person p in Model)
    {
        <tr>
            <td>@p.FirstName</td>
            <td>@p.LastName</td>
            <td>@p.Age</td>
        </tr>
    }
</table>